/* scroll fade in section */
.fadeIn {
  animation: slidein 1s ease-in;
}

@keyframes slidein {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.titleSectionAnimation {
  display: inline-block;
  margin-right: 15px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.2s ease-in, transform 0.5s ease-in;
}
.titleSectionAnimation.visibility {
  opacity: 1;
  transform: translateY(0);
}

/* Rotating flowers */
.site-footer::after,
.site-footer ul::after,
.site-footer::before,
.story__article::after,
.story h2::after,
#studio h2::before,
#studio h2::after {
  animation: rotate 20s infinite linear;
}

.story h2::after {
  width: 155px;
  height: 155px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Hero header customize */
.hero-header {
  height: 806px;
  overflow: hidden;
}
.hero-header video {
  position: relative;
}

.parallax-video {
  width: 100%;
}

.fallback-img img {
  position: absolute;
  top: 350px;
  left: 350px;
  animation: FlotedElement 6s infinite linear;
}

@keyframes FlotedElement {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}
.fallback-img {
  display: none;
}

@media (max-width: 767px) {
  .video-koukaki {
    display: none;
  }
  .fallback-img {
    display: block;
    position: relative;
    margin: auto;
  }
  .banner img {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .banner {
    background-image: none;
  }
}
/* Oscars section */
#oscars {
  display: flex;
  width: 965px;
  margin-left: 200px;
  margin-bottom: 160px;
}
#oscars img {
  margin-top: 50px;
  width: 278px;
  height: 129px;
}

h2.oscars-title {
  font-size: 2.2rem;
  padding: 1.8em 2em;
  background-image: url(../assets/images/oscar-title-background.png);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#characters {
  width: 100%;
  background-color: red;
}

.swiper {
  background-color: aqua;
  height: 540px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 2px;
  /*  margin: auto;
  margin-left: -30.5em !important;
  */
}
.swiper .swiper-slide {
  background-color: aquamarine;
  border: 2px;
  border-color: black;
  width: 480px;
  height: 480px;
  background-position: center;
  background-size: cover;
  margin-right: 40px;
  margin-left: 40px;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  visibility: visible !important;
}

h3 {
  padding: 1.2em 1.9em;
  background-position: left;
  text-align: left;
}

/*
@media screen and (max-width: 699px) {
  .swiper {
      width: auto;
      margin-left: -59.5em !important;
      margin-right: -55em !important;
      }
}*/
.story #place {
  background-image: url("../assets/images/cloud-background.png");
  position: relative;
}
.story #place h3 {
  margin-top: 100px;
  margin-left: 50px;
}
.story #place > div p {
  padding-left: 5em;
  margin-left: 50px;
}

.big-cloud {
  width: 316px;
  height: 122px;
  position: relative;
  top: -400px;
  left: 930px;
  transform: scaleX(-1) scaleY(-1);
  filter: blur(15px);
  z-index: 1;
}

.little-cloud {
  width: 142px;
  height: 55px;
  top: -350px;
  left: 740px;
  position: relative;
  filter: blur(15px);
}

.main-navigation {
  display: flex;
  position: fixed;
  width: 1440px;
}
.main-navigation ul {
  display: flex;
  font-weight: bold;
  margin-left: 550px;
}

.navbar-toggle {
  width: 40px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  margin-left: 400px;
}
.navbar-toggle span {
  width: 100%;
  height: 4px;
  background-color: #000;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
}
.navbar-toggle span::before, .navbar-toggle span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
}
.navbar-toggle span::before {
  transform: translateY(-10px);
}
.navbar-toggle span::after {
  transform: translateY(10px);
}
.navbar-toggle.active span {
  background-color: transparent !important;
}
.navbar-toggle.active span::before {
  transform: translateY(0px) rotateZ(45deg);
}
.navbar-toggle.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

.site-navigation .site-title {
  position: fixed;
}

.toggle-open {
  position: fixed;
  width: 1440px;
  height: 100vh;
  background-color: #FFF5E9;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in;
}
.toggle-open.active {
  opacity: 1;
  visibility: visible;
  animation: toggle-open 1s ease-in-out;
}
.toggle-open ul {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 210px;
}
.toggle-open li {
  font-weight: normal;
  font-size: 40px;
  line-height: 80px;
  list-style: none;
  margin: 0;
}
.toggle-open img {
  margin: auto;
  display: flex;
}
.toggle-open a:hover {
  color: black;
  text-shadow: -1px -1px 4px rgba(255, 92, 0, 0.3), 4px -1px 4px rgba(255, 92, 0, 0.3), -1px 4px 4px rgba(255, 92, 0, 0.3), 4px 4px 4px rgba(255, 92, 0, 0.3);
}
.toggle-open p {
  text-align: center;
  font-size: 12px;
  margin-top: 70px;
}

@keyframes toggle-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none;
}

.menu-logo {
  position: absolute;
  left: 640px;
  top: 100px;
  width: 154px;
  height: 95px;
}

/* rotation and position menu's flowers 
using the same @keyframes from rotating flowers*/
.menu-sunflower,
.menu-hibiscus,
.menu-flower,
.menu-orchid,
.menu-random {
  position: absolute;
  animation: rotate 20s infinite linear;
}

.menu-orchid {
  top: 140px;
  left: -50px;
  width: 150px;
  height: 148px;
}

.menu-flower {
  top: 360px;
  left: 250px;
  width: 70px;
  height: 70px;
}

.menu-sunflower {
  top: 90px;
  left: 950px;
  width: 216px;
  height: 216px;
}

.menu-random {
  top: 285px;
  left: 1330px;
  width: 75px;
  height: 75px;
}

.menu-hibiscus {
  position: absolute;
  top: 380px;
  left: 1080px;
  width: 626px;
  height: 626px;
  animation: rotate 5s infinite linear;
}

/* floating and position of menu's cat 
using the same @keyrframe from the floating logo*/
.menu-jaakuna,
.menu-kawaneko,
.menu-onejiiro {
  position: absolute;
  animation: FlotedElement 6s infinite linear;
}

.menu-kawaneko {
  top: 200px;
  left: 310px;
  width: 109px;
  height: 98px;
}

.menu-onejiiro {
  top: 500px;
  left: 100px;
  width: 105px;
  height: 95px;
}

.menu-jaakuna {
  top: 350px;
  left: 950px;
  width: 135px;
  height: 128px;
}

/*# sourceMappingURL=style.css.map */
